<section [classList]="'w3-container set-height-100 bg-dark w3-row '">
  <!-- 
      --
      -- Título seccion
      --
     -->

  <h3 [classList]="'text-white text-center fw-bold'">Algoritmos</h3>

  <!-- 
      --
      -- Panel Algoritmos
      --
     -->
  <div
    [classList]="
      'set-height-25 d-flex justify-content-center align-items-center'
    "
  >
    <div
      [classList]="'w3-col l12 m12 s12 panel-button container _center-h-sb '"
    >
      <button
        [classList]="
          ' w3-col s12 set-height-20 text-uppercase me-2 btn btn-lg border-primary border text-white rounded-3'
        "
        (click)="f_algorithm('apriori')"
      >
        Apriori umbral({{ minSupport }})
      </button>
      <button
        [classList]="
          ' w3-col s12 set-height-20 me-2 text-uppercase btn btn-lg border-warning border text-white rounded-3'
        "
        (click)="f_algorithm('camina')"
      >
        Camina
      </button>
      <button
        [classList]="
          ' w3-col s12 set-height-20 me-2 text-uppercase btn btn-lg border-success border text-white rounded-3'
        "
        (click)="f_algorithm('arbolDecisiones')"
      >
        Árbol de Decisiones
      </button>
    </div>
  </div>

  <!-- 
      --
      -- Panel Mostrador
      --
     -->
  <div [classList]="'w3-row w3-col l8 m8 s8  set-height-90'">
    <h3 [classList]="'w3-row w3-col text-white text-center fw-bold'">
      Resultado:
    </h3>

    <div
      [classList]="
        'w3-row w3-col set-height-s-55 border border-white rounded-1 '
      "
    >
      <ul [classList]="' w3-ul '">
        @if (resultData.length == 0) {
        <li [classList]="'text-white'">Vacío!</li>
        } @else { @for (itemset of resultData; track itemset) {
        <li [classList]="'text-white'">{{ itemset }}</li>
        } }
      </ul>
    </div>
  </div>

  <!-- 
      --
      -- Panel Lista
      --
     -->
  <div [classList]="'w3-row w3-col l4 m4 s4 set-height-90'">
    <h3 [classList]="'w3-row w3-col text-white text-center fw-bold'">
      Lista Elementos
    </h3>

    <div
      [classList]="
        'w3-row w3-col set-height-s-55 border border-white rounded-1 w3-container'
      "
    >
      @for (subArray of elements; track subArray) {
      <ul [classList]="'border-bottom border-white'">
        @for (item of subArray; track item) {
        <li [classList]="'text-white'">
          {{ item }}
        </li>

        }
      </ul>
      }
    </div>
  </div>
</section>
